*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    padding: 8px !important;
    background-color: #f6f6f6 !important;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #000 !important;
}

input{
    border: 1px solid #000;
    margin-left: 200px;
    margin-top: 50px;
}